$background-color: #FFFFFF;
$secondary-color: #1D1D1D;


body{
  background-color: $background-color;
}

.hero-section{
  width: 100%;
  background-color: pink;
  
  .home-button{
    background-color: transparent;
    //border-color: transparent;
    height: fit-content;
    width:fit-content;
    padding: 8px 16px;
    gap: 4px;
    display: flex;
    align-items: center;
  }
  
  .logo{
      background-color: transparent;
      border-color: transparent;
      width: 32px;
    }
}