body {
  background-image: whitesmoke;
  background-size: 300px auto;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 50px;
}

.father {
  margin: -24px 0;
  background-color: black;
  height: 100rem;
  display: flex;
  flex-direction: column;
}

.hero-section {
  background-color: rgb(192, 109, 192);
  width: 100%;
  min-height: 100px; /* Aggiungi un'altezza minima */
  max-height: 100px;
  position: fixed;
  top: auto;
  z-index: 1000;
}
.hero-section .hero-row {
  display: flex;
  margin: 42px 40px;
}
.hero-section .hero-row .btn-home {
  flex-grow: 2;
}
.hero-section .hero-row .hero-subContainer {
  margin: 0 32px;
}

.container {
  margin: 124px auto;
}
.container .row {
  margin: 0 24px;
}
.container .row .col-sm {
  margin: 4px 4px;
  background-color: red;
}
.container .row .col-sm .tt3 {
  font-weight: 100;
}