body {
  background-image: whitesmoke;
  background-size: 300px auto;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 50px;
}

.father {
  margin: -24px 0;
  background-color: black;
  height: 100rem;
  display: flex;
  flex-direction: column;
}
.father .hero-section {
  background-color: rgb(192, 109, 192);
  width: 100%;
  min-height: 100px; /* Aggiungi un'altezza minima */
  position: fixed;
  top: auto;
  z-index: 1000;
}

.body {
  min-height: min(50px, 30%);
  margin: 0;
  color: red;
}