body {
  background-color: #FFFFFF;
}

.hero-section {
  width: auto;
  height: fit-content;
  padding: 24px 40px;
  border: 1px solid #1D1D1D;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-section .home-button {
  background-color: transparent;
  height: 50px;
  width: fit-content;
  padding: 12px 16px;
  gap: 4px;
  display: flex;
  align-items: center;
}
.hero-section .home-button h1 {
  font-family: "Figtree", sans-serif;
  font-weight: lighter;
  font-size: 24px;
  line-height: 0px;
}
.hero-section .logo {
  background-color: transparent;
  border-color: transparent;
  width: 32px;
}